extends layout

block content
  .span5.offset2
    h3 Current user status: <span id='status'>---</span>

  #play
    #leftCursor.hand
    #rightCursor.hand

  #tut.grabbable
    video(id='tut-video', width='400', height='300')
      source(src='/videos/tut-1.m4v')
  #ended.hide
    h3.text Now grab this box to start!
  #show.corner.bottom.left(data-gallery='VEN')
    .icon
  #event.corner.top.left(data-gallery='ART')
    .icon
  #food.corner.bottom.right(data-gallery='F&D')
    .icon
  #drink.corner.top.right(data-gallery='OR')
    .icon
  #email-drop.drop
    h3 email me this
    .icon
  #info
    h3.title
      Some title...
    p.desc
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.
    img.map
      
  #gallery
    h2 Select a category to get started

  include signInModal

  script(type="text/template",id="gallery-template")
    <div class='grabbable obj' style="<%= pos %>">
    <img src="<%= image %>"/>
    <h5><%= title %></h5>
    </div>
