extends layout

block content
  style
    .hand{
      width: 10px;
      height: 10px;
      position: fixed;
      left: 0px;
      top: 300px;
    }
    #left{
      background-color: #00f;
    }
    #right{
      background-color: #f00;
    }

  h1= title
  p Let's get coding.

  #play
    #left.hand
    #right.hand
